.container {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border: solid red; 
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 34px;
      padding-right: 34px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      padding-left: 115px;
      padding-right: 115px;
    }
  }
  