.footer { 
  background-color: #FFF5F6;
  
}

.footer__title {
    margin-top: 113px; 
    padding-left: 22px;
    
    height: 42px; 
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFA5BA;
}

.footer__title-second {
    padding-left: 20px; 
    padding-top: 17px; 
    font-family: Titan One;
    
    height: 76px; 
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;

}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
    margin-bottom: 46px;
    padding-right: 20px;
    list-style: none;                                             

}

.footer__social-list-item:not(:last-child) { 
    margin-right: 28px;
  }

.footer__contact-title{

    padding-left: 70px; 
    padding-top: 46px; 
    /*top: 6962px;*/
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
   

}

.footer__contact-link {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.86;
    text-align: right;
    color: #D41443;
    text-decoration: none;
    padding-right: 20px;
    
  }

  .copyright {
    inline-size: 150px;
    word-break: break-word;
    text-align: center;
    margin-top: 22px;
    padding-bottom: 25px;
  }


  .container-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--secondPColor);
   
  }
  .copyright__link {
    font-style: normal;
    font-weight: bold;
    width: 150px;
    height: 42px; 
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    /*color: var( );*/
    color: #907E82;
    text-decoration: none;
  }
  .line-container {
      padding-right: 0px;
      padding-left: 0px;
    }

  .line {
    
    border: 1px solid #E1E1E1;
    margin-top: 43px;
    margin-top: 0px;
    max-width: 320px;
  }

  .social-list__icon {
    width: 20px;
    height: 20px;
  }
  .social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEA5BB;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  
  .social-list__link:hover,
  .social-list__link:focus {
      background-color: #d41443;
    }
 

    @media screen and (min-width: 320px){
      
    .footer__title {
          font-size: 19px;
        }
    .footer__title-second {
          font-size: 36px;
        }
    .footer__contact-title {
          font-size: 13px;
        }
    .footer__contact-link {
          font-size: 14px;
        }
      }
    .copyright__link {
        font-size: 15px;
      }
    .line {
          max-width: 480px;
        }
      
      
    @media screen and (min-width:768px) {
      
    .container-footer {
        display: flex;
        justify-content: space-between;
      
      }
    .footer__right-side {
      margin-top: -50px;
        
      }
    .line {
        max-width: 768px;
        border-right: none;
        border-left:none;
        border-top: var(--central-color);
      padding-top: 91px;
      }
    .copyright{
        inline-size: initial;
        word-break: unset;
        align-items: center;
        padding-bottom: 18px;
      }
    .social-list__link {
        width: 34px;
        height: 34px;
      }
    .footer__title {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.04em;
        max-width: 340px;
        margin-bottom: 16px;
        padding-top: 0;
      }
    .footer__title-second {
        font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.06em;
      }
    .footer__contact-title {
        font-size: 14px;
      line-height: 186%;
      }
      }
    @media screen and (min-width:1200px) {
      
      
      
    .footer__title {
        font-size: 34px;
        white-space: nowrap;
         
        
      }
    .footer__title-second {
        font-size: 66px;
        white-space: nowrap;
      }
    .footer__left-side {
        padding-left: 50px;
      }
    .footer__right-side {
        padding-right: 50px;
      }
    .line {
        
        border-right: none;
        border-left:none;
        max-width: 1280px;
        
        padding-top: 97px;
      }
      
    .container-copyright {
        padding-bottom: 10px;
        
      }
    .footer__contact-title {
        margin-bottom: 0;
      }
      }